option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NEXT_TELEMETRY_DISABLED: "1"
    NEXT_SHARP_PATH: "/app/node_modules/sharp"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/proxy.conf":
    content: |
      client_max_body_size 50M;

container_commands:
  01_install_deps:
    command: "pnpm install --frozen-lockfile"
    cwd: "/var/app/staging"

  02_generate_prisma:
    command: "pnpm prisma generate"
    cwd: "/var/app/staging"

  03_build_app:
    command: "pnpm build"
    cwd: "/var/app/staging"