option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 20

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NEXT_TELEMETRY_DISABLED: "1"
    NEXT_SHARP_PATH: "/app/node_modules/sharp"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/proxy.conf":
    content: |
      client_max_body_size 50M;

container_commands:
  01_pnpm_install:
    command: "pnpm install --frozen-lockfile"
    cwd: "/var/app/staging"

  02_prisma_generate:
    command: "pnpm prisma generate"
    cwd: "/var/app/staging"

  03_build_next:
    command: "pnpm build"
    cwd: "/var/app/staging"

  04_cleanup_node_modules:
    command: "rm -rf /var/app/staging/node_modules"
    cwd: "/var/app/staging"

  05_reinstall_prod_deps:
    command: "pnpm install --prod --frozen-lockfile"
    cwd: "/var/app/staging"
